{% extends "layout.html" %}
{% block body %}

    <style>
        .hidden {
            display: none;
        }
    </style>
    <script>
    function filter() {
        let selCat = document.getElementById('categories').value;
        let entries = document.querySelectorAll('.entry');

        entries.forEach(function(entry) { //.foreach() -> Help loop through the entries data | Citation: https://www.w3schools.com/jsref/jsref_foreach.asp
            let category = entry.getAttribute('data-category');
            if (selCat === "all_categories" || category === selCat) {
                entry.classList.remove("hidden"); //Hiding element using .classList.remove | Citation: https://javascriptguide.com/how-to-hide-and-show-an-html-element-with-javascript/
            }
            else {
                entry.classList.add("hidden");
            }

        });

    }

    </script>

  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dt>Category:
        <dd><input name="category" size="30" ></dd>
        <dt>Text:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Share">
    </dl>
  </form>



<form action="{{ url_for('show_entries')}}" method="get" class="show-categories">
  <label for="select_category">Choose a category: </label>

  <select name="select_categories" id="categories" onchange="filter()">
        <option value="all_categories" class="category_list">All Categories</option>
        {% for entry in categories %}
            <option value="{{entry.category }}">{{ entry.category }}</option>
        {% endfor %}
  </select>
</form>


  <ul class="entries">
  {% for entry in entries %}
    <li class="entry" data-category="{{ entry.category }}">
        <h2>{{ entry.title }}</h2> <h4>{{ entry.category }}</h4> {{ entry.text|safe }}

    <form action="{{ url_for('delete_entry') }}" method="post" class="delete-entry">
        <button value="delete" type="submit">Delete</button>
        <input name="id" value="{{ entry.id }}" type=hidden>
    </form>
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>



{% endblock %}
